div#app {
    width: 21cm;
    font-family: 'B612 Mono', monospace;
}

div#resume {
    width: 18cm;
    margin: 0 auto;
    line-height: 1.7;
}

.dot {
    padding-left: 1.5em;
}

div.section {
    display: block;
}

div.right {
    width: 20%;
    float: right;
    font-size: smaller;
}

div.right > p {
    text-align: right;
}

div.left {
    width: 76%;
    float: left;
}

div.left > p {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.position {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
}

.location {
    text-align: right;
    color: #328d95;
}

.dates {
    text-align: right;
}
    
.stack {
    font-weight: 600;
    line-height: 1;
}